input{
  margin-bottom: 10px;
  background-color: rgb(240,240,240);
  border-width: 1px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border-style: solid;
  width: 500px;
  border: none;
}


.pick{
display: block;
}
.drop{
display: block;
}
.now{
  color: white;
  background-color: black;
  border: none;
  margin-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;

}
.later{
  background-color: rgb(240,240,240);
  color: black;
  border: none;
  margin-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;



}
.request{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;


}