/* .cat-pic{
  width: 250px;
  border-radius: 15px;
} */

/* .cat-pic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
} */

.cat-pic {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
  object-position: center;
}